@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  /* This is the name you will reference in Tailwind */
  font-family: "purgatory";
  /* Adjust this path based on your folder structure */
  src:
    url("/fonts/purgatory.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; /* Helps prevent invisible text while loading */
}

@theme {
  /* This creates the class: font-purgatory */
  --font-purgatory: 'purgatory', cursive;
}
